

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
h1 {
    font-family: 'Merriweather', serif;
}

.header {
    background-color: grey;
    width: 100%;
    padding: 10px;
}
.post-container {
    border: solid 1px black;
    border-radius: 2%;
    padding: 0 0 0 10px;
    margin-bottom: 20px;
    display: flex;
}

.p-header {
    border: solid 1px black;
    justify-content: flex-start;
    
    
   
}

.p-picture {
    border: solid 1px black;
    align-content: flex-end;
    

}

.p-text {
display: inline;
    align-content: flex-start;
}

.title {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 10px;
    text-align: top;
}

.small-img {

    align-content: right;
    width: 100px;
    height: fit-content;
}

.field {
    font-family: 'Roboto', sans-serif;
    text-align: justify;

    width: 100%;
    height: 200px;
    min-height: 20px;
    font-size: 10px;
    text-align: top;
}

