h1 {
    text-align: left;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: large;
}

label {
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem, 10rem, 10rem, 0rem;
}

input {
    border-radius: 2px;
    border-width: 1px;
    border-color: #3f3f3f;
}

input:hover {
    border-width: 2px;
    border-color: #8cb085;
}

input:active {
    border-width: 2px;
    border-color: #8cb085;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-align: right;
}