main {
  font-family: "Vollkorn", serif;
}

.box-set {
  display: flex;
  flex-direction: row;
}

.box {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
