<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new item</title>
</head>
<body>
<form th:action="@{/addItem}" action="/addItem" method="post">
    <input type="text" name="name" placeholder="Specify name">
    <br>
    <textarea name="description" id="" cols="30" rows="10" placeholder="Specify description">Description</textarea>
    <br>
    <input type="number" name="price"placeholder="Specify price">
    <br>
    <input type="number" name="onStock"placeholder="Specify quantity on stock">
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>