<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Red+Hat+Mono:wght@500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{styles.css}">
    <title>My webshop</title>
</head>
<body>
<header>
    <h1 th:text="${welcomeString ?: 'Sorry welcomeString is not set'}">Hello on my great webshop</h1>
</header>

<section>
    <p th:text="${items.size()}"></p>
    <h3>Filter</h3>
    <nav>
        <ul>
            <li><a th:href="@{/(available=yes)}" class="menu">Only available</a></li>
            <li><a th:href="@{/(cheapest=yes)}" class="menu">Cheapest first</a></li>
            <li><a th:href="@{/(nike=yes)}" class="menu">Contain nike</a></li>
            <li>average stock</li>
            <li>Most expensive available</li>

        </ul>
        <form th:action="@{/}" method="get">
            <input type="text" name="search">
            <button type="submit">Search</button>
        </form>
    </nav>
    <a th:href="@{/addItem}" href="/addItem">Add item</a>
    <table th:if="${items.size()>0}">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>On stock</th>
            <th>Detail</th>
        </tr>
        <tr th:each="item, iter : ${items}" th:object="${item}">
            <td th:text="${iter.index+1}">ID</td>
            <td th:text="*{name}">Name</td>
            <td th:text="*{description}">Description</td>
            <td th:text="*{price}">Price</td>
            <td th:text="*{onStock}">On stock</td>
            <td><a th:href="|/detail/${iter.index}|" href="/detail.html">View detail</a></td>
        </tr>
    </table>
    <p th:unless="${items.size()>0}">Sorry no items</p>
</section>

</body>
</html>