<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My webshop</title>
</head>
<body>
<header>
    <h1 th:text="${welcomeString ?: 'Sorry welcomeString is not set'}">Hello on my great webshop</h1>
</header>

<section>
    <p th:text="${items.size()}"></p>
    <a th:href="@{/addItem}" href="/addItem">Add item</a>
    <table th:if="${items.size()>0}">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>On stock</th>
        </tr>
        <tr th:each="item : ${items}" th:object="${item}">
            <td th:text="*{name}">Name</td>
            <td th:text="*{description}">Description</td>
            <td th:text="*{price}">Price</td>
            <td th:text="*{onStock}">On tock</td>
        </tr>
     </table>
    <p th:unless="${items.size()>0}">Sorry no items</p>
</section>

</body>
</html>