<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
<h1>My Todos</h1>
<ul>
    <li><a th:href="@{/todo/?done=false}" href="todo.html">Active</a></li>
    <li><a th:href="@{/newtodo}" href="newtodo.html">Add new</a></li>
</ul>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
    <td>Title</td>
    <td>Done</td>
    <td>Urgent</td>
    </tr>
    </thead>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{id}">Id</td>
        <td th:text="*{title}">Title</td>
        <td th:text="*{done}">Done</td>
        <td th:text="*{urgent}">Urgent</td>
    </tr>
</table>
</body>
</html>