<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
<h1>My Todos</h1>
<form th:action="@{/search}" action="" method="get">
    <input type="text" name="search" id="search">
    <button type="submit">search</button>

</form>
<ul>
    <li><a th:href="@{/todo/?done=false}" href="todo.html">Active</a>
        <a th:href="@{/todo/?done=true}" href="todo.html">Not active</a> </li>
    <li><a th:href="@{/newtodo}" href="newtodo.html">Add new todo</a></li>
</ul>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Done</td>
        <td>Urgent</td>
        <td>Delete</td>
        <td>Edit</td>
        <td>Assignee</td>
    </tr>
    </thead>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{id}">Id</td>
        <td th:text="*{title}">Title</td>
        <td th:text="*{done}">Done</td>
        <td th:text="*{urgent}">Urgent</td>
        <td><a th:href="@{/{id}/delete(id=*{id})}">delete</a></td>
        <td><a th:href="@{/{id}/edit(id=*{id})}">edit</a></td>
        <td>
            <form th:object="${assignees}" th:action="@{/assigne}"action="" method="post">
                <select name="assignee" id="">
                    <option th:each="assignee : ${assignees}" th:value="*{name}"> </option>
                </select>
                <button type="submit">submit</button>
            </form></td>
    </tr>
</table>
</body>
</html>